
div.naija p.title{
    text-align: center;
    font-size: 3.5em;
    color: white;
    background-image: linear-gradient(green,limegreen);
    width: 50%;
    margin: auto;
    border-radius: 20px;

}
div.naija{
    background-color: white;
    margin: auto;
    padding-top: 20px;

    width: 100%;
}

div.naija p.icon{

    text-align: center;
    width: 50%;
    margin: auto;
}
div.naija p.mark{
    width: 50%;
    text-align: center;
    margin: auto;
    background-color:green;
}
div.naija marquee{
    text-align: center;
    color: white;

}
/* Style the icon bar links */
.icon-bar{
    margin:auto;
    padding-top: 35px;
    padding-bottom: 30px;


}
.icon-bar a {

    text-align: center;
    padding:25px 36px;
    transition: all 0.3s ease;
    color: white;
    font-size: 32px;
    border-radius: 100%;
  }
  .icon-bar a i{
      font-size: 1em;
  }
  .comnum{
      color: white;
  }
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background:rgb(255, 192, 250);
    color: white;
  }
  
  .linkedin {
    background:forestgreen;
    color: white;
  }
 

div.navbar-one{
    width: 100%;
    display: flex;
    position:fixed;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 200;

}
span.color{
    color: green;
}
div.navbar-one .item-one{
    margin-left: 50px;
}
div.navbar-one a.item-two {
     margin-right: 50px;
}
div.navbar-one a.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}
nav a.contact2{
    display: none;
}
div.navbar-one a.contact{
    text-decoration: none;
    color: white;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 18px;

}
/*end of navbar one */

/* start of navbar two */

nav.navbar-two{
    
    width: 100%;
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    position: fixed;
    top:64px;
    z-index: 200;
}
nav.navbar-two i {
    color: limegreen;
    font-size: 1.5em;
}
nav.navbar-two li.nav-item{
    padding-right: 50px;
}
nav.navbar-two a.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
nav.navbar-two div.dropdown-menu{
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    width: 300%;
}
nav.navbar-two div.dropdown-menu img{
    width: 100%;
    height: 100px;
}
nav.navbar-two div.dropdown-menu a.dropdown-item{
    color: white;
    
}
nav.navbar-two div.dropdown-menu a.dropdown-item:hover{

    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

@media screen and (max-width:768px){
    nav.navbar-two div.dropdown-menu{
        
        width: 100%;
    }
    div.navbar-one a.contact{
        display: none;
    
    }
    div.navbar-one .item-one{
        margin-left: 0px;
        margin: auto;
    }
    nav a.contact2{
        display:initial;
    }
    .icon-bar{
        margin:auto;
        padding-top: 35px;
        padding-bottom: 20px;
    
    
    }
    .icon-bar a {
    
        text-align: center;
        padding: 6.5%;
        transition: all 0.3s ease;
        color: white;
        font-size: 25px;
      }
      div.naija p.title{

        font-size: 2.5em;
        width: 80%;

    
    }
    nav.navbar-two div.dropdown-menu img{
        width: 100%;
        height: 200px;
    }
}
